<div class="d-flex">
  <% wishlist_active = 'underline-active' if params[:list_type] == 'wishlists' %>
  <% favourite_active = 'underline-active' if params[:list_type] == 'favourites' %>

  <%= link_to "SAVED SPOTS", wishlists_path(list_type: 'wishlists'),
  :class => "button-underline #{wishlist_active}", style: 'text-decoration: none' %>

  <%= link_to "BEEN THERE", favourites_path(list_type: 'favourites'),
  :class => "button-underline #{favourite_active}", style: 'text-decoration: none;' %>
</div>



