<div class="map-restaurant-card" style="width: 100vw; position: fixed, bottom: 0;">
  <div class="map-restaurant-image">
    <%= image_tag("#{spot.images.first.image}")%>
  </div>
  <div class="map-restaurant-details">
    <div class="map-restaurant-name">
      <%= spot.name %>
    </div>
    <div class="map-restaurant-location">
      <%#= spot.location[0..20] %>
    </div>
    <div class="map-restaurant-description">
      <%#= "#{spot.description[0..20]}..." %>
    </div>
  </div>
</div>
