<%= render "shared/lists_navbar" %>
<div class="lists-index-wrapper container">
  <h2>Add a spot</h2>
  <!-- Search -->
  <%= form_tag(lists_path, method: :get, remote: true) do %>
    <form class="form-inline" >
      <div class="md-form my-0 mr-3">
        <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Search"%>
      </div>
    </form>
  <% end %>
  <div id="spots-list" class="spots-list">
  </div>
  <%= link_to spots_path do %>
    <h3>See all spots</h3>
  <% end %>
  <h4>Add to favourites</h4>
  <h4>Add to wishlist</h4>
</div>