<div class="d-flex">
  <div class="button-underline-container">
      <div id="want_to_try_button" class="button-underline underline-active">
        WANT TO TRY
      </div>
      <div id="moving-underline"></div>
  </div>
  <div class="button-underline-container">
    <div id="been_there_button" class="button-underline">
      BEEN THERE
    </div>
  </div>
</div>
<!-- WANT TO TRY -->
<div id="want_to_try_list">

  <div id="search-results" class="discover-search-results flex-wrap">
    <% @wishlist_spots.each do |spot| %>
      <%= render "spots/spot_card", spot: spot %>
    <% end %>
  </div>
</div>
<!-- BEEN THERE -->
<div id="been_there_list" class="hidden">

  <div id="search-results" class="discover-search-results">
    <% @favourite_spots.each do |spot| %>
      <%= render "spots/spot_card", spot: spot %>
    <% end %>
  </div>
</div>
