<%= render "shared/navbar" %>
<!-- Favourites and Wishlist buttons -->
<%= render "list_type" %>
<!-- Search Bar -->
<div class="grey-search-bar">
  <%= render('search/search_form', search_type: 'my_spots', placeholder: 'Search My Spots') %>
</div>
<div id="search-results" class="search-results">
</div>
<!-- Map -->
<div class="full-map">
  Map with all my saved spots with their relevant icons
</div>