<div class="spot-card mx-auto">

  <%= link_to spot_path(spot) do %>

  <%= render 'spot_card_inside', spot: spot %>

  <% end %>
  <!-- Icon -->
  <div class="spot-card-icon">
    <div id="w<%= spot.id %>" >
      <%= render 'shared/bookmark_icon', spot: spot %>
    </div>
  </div>
</div>
