<div class="spot-card">

  <!-- Image -->

  <div class=spot-image>
    <%= image_tag("#{spot.images.first.image}")%>
  </div>

  <!-- Text -->

  <div class="spot-details">
    <div class="spot-name">
      <%= spot.name %>
    </div>
    <div class=spot-location>
      <%#= spot.location[0..20] %>
    </div>
    <div class=spot-description>
      <%= "#{spot.description[0..20]}..." %>
    </div>
  </div>
  <!-- Icons -->
  <div class="spot-card-icons">
    <%= render "shared/icons", spot: spot %>
  </div>
</div>
