  <div class=spot-image>
    <%= image_tag("#{thumbnail}") %>
  </div>
  <div class="spot-details">
    <div class="spot-name">
      <%= name %>
    </div>
    <div class="spot-location">
      <p><%= suburb %>, <%= city %></p>
    </div>
  </div>
