<h2>Search for a spot</h2>

<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a spot"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="spots">

        <%= @restaurants %>

      </div>
    </div>
  </div>
</div>
