<!-- Search bar -->
<div class="grey-search-bar" style="padding-top: 70px">
  <%= render('search/search_form', search_type: 'all_spots', placeholder: 'Search All Spots') %>
</div>
<div id="search-results" class="search-results">
  <!-- this content only exists so that full spot list exists before any search is carried out -->
  <% @spots.each do |spot| %>
    <%= render "spots/spot_card", spot: spot %>
  <% end %>

</div>
<div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
