<div class="spot-show-wrapper">
  <%= render 'spots/show/spot-show-banner' %>

  <!-- Been there -->

  <div class="simple-button-container">
    <div id="<%= @spot.id %>" >
      <%= render 'shared/been_there_icon', spot: @spot %>
    </div>
  </div>

</div>

