<div class="activity-cards d-flex px-2 justify-content-center pt-4">
  <div class="card py-3 px-2 m-2" style="width: 26%">
    <h4><%= @wishlists.count %></h4>
    <p class="card-text">Wishlists</p>
  </div>
  <div class="card py-3 px-2 m-2" style="width: 26%">
    <h4><%= @favourites.count %></h4>
    <p class="card-text">Favourites</p>
  </div>
  <div class="card py-3 px-2 m-2" style="width: 26%">
    <h4><%= @friends.count %></h4>
    <p class="card-text">Friends</p>
  </div>
</div>
