<% @reviews.each do |review| %>
  <div class="card mt-4 mb-3">
    <% unless review.image.url.blank? %>
        <%= cl_image_tag(review.image, class: "review-image") %>
    <% end %>
    <div class="review-content d-flex align-items-center">
      <div class="review-user">
        <%= cl_image_tag(user_avatar(review.user), class: "avatar mx-3 mt-3") %>
        <p class="review-name mx-3 mt-2"><%= review.user.first_name %></p>
      </div>
      <p class="m-2"><%= review.notes %></p>
    </div>
  </div>
<% end %>
