<% @friends_spots.each do |spot| %>
  <div class="discovery-card mx-2">
    <%= cl_image_tag(spot.images.first.image, :crop=>"scale", class: "discover-card-image" ) %>
    <div class="card-content">
      <p class="mt-1"><%= spot.name %></p>
      <p><%= spot.location %></p>
    </div>
  </div>
<% end %>
