<div class="feed-review-card-container">
  <div class="img-bkg">
    <!-- if not favourited -->
    <i class="far fa-heart review-card-heart"></i>
    <!-- else -->
    <!-- <i class="fas fa-heart"></i> -->
    <!-- if not wishlisted -->
    <i class="far fa-bookmark review-card-bookmark"></i>
    <!-- else -->
    <!-- <i class="fas fa-bookmark"></i> -->
  </div>
  <div class="feed-review-card-body">
    <img class="avatar" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    <div class="body-text">
      <p><span class="name">Jamie</span> reviewed</p>
      <h2>Mammoth</h2>
    </div>
   </div>
   <div class="line-break"></div>
   <div class="review-card-review">
     <div class="stars">
      <!-- <i class="fas fa-star"></i> -->
      <i class="far fa-star review-card-star"></i>
      <!-- <i class="fas fa-star"></i> -->
      <i class="far fa-star review-card-star"></i>
      <!-- <i class="fas fa-star"></i> -->
      <i class="far fa-star review-card-star"></i>
      <!-- <i class="fas fa-star"></i> -->
      <i class="far fa-star review-card-star"></i>
      <!-- <i class="fas fa-star"></i> -->
      <i class="far fa-star review-card-star"></i>
     </div>
     <p class="review-title"><em>The avo smash was so good!</em></p>
   </div>
</div>

