<div class="feed-card-container">
  <div class="feed-card-body">
    <img class="avatar" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    <div class="body-text">
      <p><span class="name">Sophia</span> just visited</p>
      <p>12 April 2019 at 10:47PM</p>
    </div>
   </div>
  <div class="img wishlist-img">

  </div>
   <div class="wishlist-card-bottom">
    <div class="wishlist-card-body">
       <div class="body-text">
        <h2>Night Market</h2>
        <p>Melbourne CBD</p>
       </div>

       <div class="badge-container">
        <div class="badges">
          <i class="far fa-heart wishlist-card-heart"></i>
        </div>
        <div class="badges">
          <i class="far fa-bookmark wishlist-card-bookmark badges"></i>
        </div>
       </div>
    </div>

    <div class="body-text">
      <p class="comment"><em>It's closed in winter!</em></p>
    </div>
   </div>
</div>

<p><%= activity %></p>

