<div class="feed-card-container">

<!-- Who and When -->

  <div class="feed-card-body">
    <img class="feed-card-avatar" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />

    <div class="feed-card-text">
      <div class="feed-card-who">
        <p><strong>Joel</strong> added to their bottle</p>
      </div>
      <div class="feed-card-when">
        <p>Today at 10:02pm</p>
      </div>
    </div>
  </div>

<!-- Content -->


  <div class="feed-card-content">
    <img src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
  </div>

   <div class="wishlist-card-bottom">
    <div class="wishlist-card-body">
       <div class="body-text">
        <h2>Night Market</h2>
        <p>Melbourne CBD</p>
       </div>

       <div class="badge-container">
        <div class="badges">
          <i class="far fa-heart wishlist-card-heart"></i>
        </div>
        <div class="badges">
          <i class="far fa-bookmark wishlist-card-bookmark badges"></i>
        </div>
       </div>
    </div>

    <div class="feed-card-text">
      <p class="comment"><em>It's closed in winter!</em></p>
    </div>
   </div>
</div>

