<div class="feed-review-card-container">
  <div class="feed-review-card-body">
    <img class="avatar" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    <div class="body-text">
      <p><span class="name">Sophia</span> just visited</p>
      <p>12 April 2019 at 10:47PM</p>
    </div>
   </div>
  <div class="img-bkg">
    <!-- if not favourited -->
    <!-- else -->
    <!-- <i class="fas fa-heart"></i> -->
    <!-- if not wishlisted -->
    <!-- else -->
    <!-- <i class="fas fa-bookmark"></i> -->
  </div>
   <div class="review-card-review">
     <div class="wishlist-info">
      <h2>Night Market</h2>
      <p>Melbourne CBD</p>
      <p class="review-title"><em>It's closed in winter!</em></p>
     </div>

     <div class="stars">
      <i class="far fa-heart review-card-heart"></i>
      <i class="far fa-bookmark review-card-bookmark"></i>
     </div>

   </div>
</div>

