<!-- Map -->

<div id="map"
    style="width: 100%; height: 90%; position: absolute;"
    data-markers-spots="<%= @markers_spot.to_json %>"
    data-marker-user="<%= @marker_user.to_json %>"
    data-marker-user-avatar="<%= @marker_user_avatar %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
