<div class="feed-card-container">
  <div class="feed-card-body">
    <img class="avatar" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    <div class="body-text">
      <p><span class="name"><%= activity.owner.first_name %></span> loves this place</p>
      <p><%= activity.created_at %></p>
    </div>
   </div>
  <div class="img wishlist-img">

  </div>
   <div class="wishlist-card-bottom">
    <div class="favourite-card-body">
       <div class="body-text">
        <h2><%= activity.trackable.spot.name %></h2>
        <p>activity.trackable.spot.location</p>
       </div>

       <div class="badge-container">
        <div class="badges">
          <i class="far fa-heart wishlist-card-heart"></i>
        </div>
        <div class="badges">
          <i class="far fa-bookmark wishlist-card-bookmark badges"></i>
        </div>
       </div>
    </div>
   <div class="line-break"></div>
    <div class="body-text">
      <p class="comment"><em><%= activity.trackable.spot.reviews.sample.notes %></em></p>
    </div>
   </div>
</div>
