<div class="feed-card-container">

<!-- Who and When -->

  <div class="feed-card-body">
    <img class="feed-card-avatar" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />

    <div class="feed-card-text">
      <div class="feed-card-who">
        <p><strong>Olivia</strong>

          <!-- Code the type of post -->
            reviewed
        </p>
      </div>
      <div class="feed-card-when">
        <p>
          <!-- Code time posted -->
          10 mins ago
        </p>
      </div>
    </div>
  </div>

<!-- Content -->

  <div class="feed-card-content">
    <!-- Code the type of post -->

    <img src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">

    <!-- If its a review -->
    <div class="feed-card-review">
      <h4><em>"The bao buns were the best dish, everything else was average"</em></h4>
    </div>

  </div>

<!-- Spot Information -->

    <div class="feed-card-body" style="justify-content: space-between;">
       <div class="feed-card-text">
        <h3><strong>
          <!-- Code the spot name -->
          Kong BBQ
        </strong></h3>
        <p>
          <!-- Code the location -->
          Richmond, Melbourne
        </p>
       </div>

       <div>
          <i class="fas fa-wine-bottle feed-card-icon"></i>
        </div>
    </div>

</div>
