<div class="container">
  <h1>Katchup on the lastest...</h1>
  <div class="feed-index">
    <%= render 'feed_review_card' %>
    <%= render 'feed_wishlist_card' %>
    <%= render 'feed_favourite_card' %>

  </div>
</div>


