<div class="container">
  <h1>Katchup on the latest...</h1>
  <div class="feed-index">

  <% @activities.each do |activity|  %>
    <% if activity.trackable_type == "Review" %>
      <%= render 'feed-standard-card', activity: activity, type: review %>
    <% elsif activity.trackable_type == "Wishlist" %>
      <%= render 'feed-standard-card', activity: activity, type: wishlist %>
    <% else %>
      <%= render 'feed-standard-card', activity: activity, type: favourite %>
    <% end %>
  <% end %>


  </div>
</div>
