.feed-card-container {
  width: 100%;
  background: white;
  padding-bottom: 0;
  border-top: 2px solid #eee;
  position: relative;
}

.feed-card-body {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  p {
    margin: 0;
  }
}

.feed-card-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 12px;
}

.feed-card-text {
  color: $dark-grey;
  h2 h3 p {
    margin: 0;
  }
}

.feed-card-when {
  color: $medium-grey;
  font-size: 15px;
  margin: 0;
}

.feed-card-content {
  img {
    width: 100%;
    height: 200px;
  }
  position: relative;
  background-color: $dark-grey;
}

.feed-image {
  object-fit: cover;
  width: 100%;
}

.dark-pic {
    filter: opacity(30%);
}

.filter-pic {
  filter: opacity(83%);
}



.feed-card-icon {
  color: $katchup;
  font-size: 50px;
}

.feed-card-stars {
  color: white;
}

.feed-card-review {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.feed-card-anchor {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  &:focus,
  &:active {
    background: rgba(0,0,0,0.05);
  }
}

.feed-item-bookmark-container {
  margin-top: 2px;
  z-index: 500;

  .action-icon {
    font-size: 15px;
    width: 32px;
    height: 32px;
  }
}
