.feed-index {
  .wishlist-card-body {
    display: flex;
    justify-content: space-between;
    margin: 16px 8px;
  }
  .wishlist-img {
   height: 45%;
   background-image: url(https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  }
  .badge-container {
    display: flex;
  }
  .badges {
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $katchup;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 4px;
  }
  .wishlist-card-heart {
    // position: absolute;
    font-size: 20px;

  }
  .wishlist-card-bookmark {
    // position: absolute;
    font-size: 20px;

  }
  .body-text {
    .comment {
      em {
        margin: 0 8px;
      }
    }
  }
}
