.discover-horizontal {
  height: 28vh;
  width: 100vw;
  display: flex;
  overflow-x: auto;
}

.discover-heading {
  padding-top: 10px;
}

.discover-card-image {
  width: 80vw;
  height: 22vh;
}

.discover-container {
  p {
    font-size: 12px;
    font-weight: bold;
  }
}
