.discover-wrapper {

  .discover-heading {
    padding-top: 4px;
    margin-bottom: 12px;
  }

  .discover-horizontal {
    height: 35vh;
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }

    .discovery-card {
      box-sizing: content-box;
      position: relative;
      max-width: 280px;
    }

    .discover-card-link {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .cuisine-card {
      flex: 0 0 auto;
      height: 128px;
      width: 128px;
      text-align: center;
      background-color: $katchup-half;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      box-sizing: content-box !important;
      margin-right: 4px;
      margin-left: 4px;
      display: flex;
    }

    .cuisine-text {
      margin: auto;
      color: white;
    }
  }

  .cuisine {
    margin-bottom: 24px;
    height: 20vh !important;
  }

  .discover-horizontal::-webkit-scrollbar { width: 0 !important }

  .discover-card-image {
    height: 22vh;

  }

  .discover-container {

    .card-content {
      max-width: 280px;
      word-break: break-all;

      .mt-1 {
        font-size: 16px;
        font-weight: bold;
        word-break: break-all;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: 14px;
        word-break: break-all;
        white-space: pre-wrap;
      }
    }
  }
}
