<script>
  function addSearchTimeStamp() {
    document.getElementById('timestamp').value=Date.now();
  }
</script>

<%= form_tag spots_path, method: :get, remote: true, onsubmit: "addSearchTimeStamp()" do %>

  <%= hidden_field_tag :timestamp %>

  <div style="position:relative">
    <div class="search-field">
      <i class="fas fa-search search-icon"></i>
      <%= text_field_tag :query, params[:query], class: "search-text", placeholder: placeholder, id: "spots-search" %>
    </div>

  </div>
<% end %>
