<div class="d-flex ml-4">
  <%= link_to users_path do %>
    <i class="fas fa-arrow-left red-arrow"></i>
  <% end %>
  <h4>My friends</h4>
</div>

<% @friends.each do |friend| %>
  <div class="py-0 d-flex align-items-center border-bottom my-friend-list">
    <%= cl_image_tag(friend.friend.avatar, class: "avatar m-3") %>
    <%= friend.friend.full_name %>
    <%= link_to user_path(friend.friend), class: "card-link my-friends" do %>
    <% end %>
  </div>
<% end %>
