
  <div class="container">

    <%= render "request_type" %>

    <%= render("search/search_form", search_type: 'users', placeholder: 'Search friends') %>

    <% @users.each do |user| %>
      <%= render 'user', user: user %>
    <% end %>
  </div>
