<%= render "shared/navbar" %>
<div class="users-page-wrapper">
  <%= render "request_type" %>


  <div class="search-wrapper" style="height: ">
    <input type="search" class="search-placeholder" placeholder="remove me when search is ready" style="width: 100%">
  </div>


  <%# if @params.contain() %>


  <% @users.each do |user| %>
      <%= render 'user', user: user %>
    <% end %>
  </ul>


</div>
