<div class="user-wrapper">
  <%= cl_image_tag(@user.avatar, class: "user-avatar") %>
  <h3 class="mt-3"><%= @user.full_name %></h3>
  <%= render "users/show/activity-cards" %>

  <div class="review-tag mt-4 p-2">
    Reviews
  </div>

  <div class="container">
    <%= render "users/show/reviews-list" %>
  </div>
</div>
