<%= render "shared/navbar" %>
<!-- Buttons -->
<%= render "lists/list_type" %>
<!-- Search bar -->
<div class="grey-search-bar">
  <%= render('search/search_form', search_type: 'favourite_spots', placeholder: 'Search My Favourites') %>
</div>
<!-- Cards -->
<div class="d-flex flex-column justify-content-center">
  <div id="search-results" class="search-results">
    <% @favourite_spots.each do |spot| %>
      <%= render "spots/spot_card", spot: spot %>
    <% end %>
  </div>
</div>