<nav class="navbar fixed-bottom navbar-light bg-light bottom-navbar">
  <a href=""><i class="fas fa-home"></i></a>
  <a href=""><i class="fas fa-search"></i></a>
  <a href=""><i class="fas fa-plus"></i></a>

  <%= link_to lists_path do %>
    <i class="fas fa-list-ul"></i>
  <% end %>

  <a href=""><i class="far fa-calendar"></i></a>
</nav>
