<div class="navbar navbar-expand-sm navbar-light lists-navbar" style="height: 61px; padding: 0">


  <div class="navbar-label">
    <%= link_to favourites_path(list_type: 'favourites') do %>
      <p class="m-0 <%= 'active' if params[:list_type] == 'favourites' %>">Favourites</p>
    <% end %>
  </div>

  <div class="navbar-label">
    <%= link_to wishlists_path(list_type: 'wishlists') do %>
      <p class="m-0 <%= 'active' if params[:list_type] == 'wishlists' %>">Wishlist</p>
    <% end %>
  </div>

</div>
