<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
  <title>Katchup</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <link rel="icon" href="https://cdn.dribbble.com/users/16956/screenshots/3854902/kawaii_tomato.png" type="image/x-icon" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%#= stylesheet_pack_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <!-- <script src="anime.min.js"></script> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
