<div class="mx-auto">
  <p class="text-center">Average Rating</p>
  <div class="stars d-flex justify-content-center">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
  </div>
</div>
