<div id="reviews-container">
  <div id="reviews">
    <% if @spot.reviews.any? %>
      <%= render @spot.reviews.ordered_by_date %>
    <% else %>
      <p id="no-review-message">This spot doesn't have any reviews yet.</p>
    <% end %>
  </div>
</div>
