
  <div class="stars d-flex justify-content-center">
    <% if @spot.average_rating.nil? %>
      <span class="no-rating">Not rated</span>
    <% else %>
      <%= set_stars(average) %>
    <% end %>
  </div>



