<div class="book-rating">
  <span class="review-count">
    <% if total.positive? %>
      <p class="num-reviews"><%= pluralize(total, 'review') %></p>
    <% end %>
  </span>
  <div id="reviews-anchor"></div>
</div>
