<div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content photo-modal-content">
        <button type="button" class="close photo-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <% @spot.images.each do |image| %>
          <%= image_tag image.image, class: "spot-modal-images" %>
        <% end %>
      <!-- <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
