<div class="card m-3 shadow">
  <%= cl_image_tag(@spot.images.first.image, class: "review-image") %>
  <div class="review-content d-flex ">
    <%= cl_image_tag(@spot.images.first.image, class: "avatar m-3") %>
    <p class="m-2">something</p>
  </div>
</div>
