<div class="book-rating m-3">
  <span class="review-count">
    <% if total.positive? %>
      <h5 class="num-reviews"><%= pluralize(total, 'review') %></h5>
    <% end %>
  </span>
  <div id="reviews-anchor"></div>
</div>
