<div class="book-rating">
  <span class="review-count">
    <% if @spot.reviews.any? %>
      <p class="num-reviews"><%= pluralize(@spot.reviews.count, 'review') %></p>
    <% else %>
      <span class="no-rating">no reviews</span>
    <% end %>
  </span>
  <div id="reviews-anchor"></div>
</div>
