<div class="feed-index">
  <% @activities.each do |activity|  %>
    <% if activity.trackable_type == "Favourite" && activity.trackable != nil %>
      <%= render 'spots/feed/feed-card', activity: activity %>
    <% elsif activity.trackable_type == "Wishlist"  && activity.trackable != nil %>
      <%= render 'spots/feed/feed-card', activity: activity %>
    <% elsif activity.trackable_type == "Review"  && activity.trackable != nil %>
      <%= render 'spots/feed/feed-card', activity: activity %>
    <% end %>
  <% end %>
</div>
