<div class="home">

  <i class="fas fa-map-marker-alt white-pin"></i>

  <div><h1>katchup</h1></div>

  <br>
  <br>

  <% if user_signed_in? %>

    <div class="small-white-button">
      <%= link_to "Get Saucy", feeds_path, class: "nav-link" %>
    </div>

  <% else %>

    <div class="small-white-button">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>
    <div style="color: white">
      <p>Don't have an account? <strong>Sign up</strong></p>
    </div>

  <% end %>

</div>
