<div class="home">

  <div><h1>Katchup</h1></div>

  <% if user_signed_in? %>

    <div class="small-red-button">
      <%= link_to "My Feed", feeds_path, class: "nav-link" %>
    </div>

  <% else %>

    <div class="small-red-button">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>

  <% end %>

</div>
