<div class="home">

  <i class="fas fa-map-marker-alt white-pin"></i>

  <div>
    <h1>katchup</h1>
  </div>

  <br>
  <br>

  <% if user_signed_in? %>

    <div class="small-white-button">
      <%= link_to "Get Saucy", feeds_path, class: "nav-link" %>
    </div>

  <% else %>

    <div class="small-white-button">
      <%= link_to "Login", new_user_session_path %>
    </div>

    <div style="color: white">
      Don't have an account?
      <strong>
        <%= link_to "Sign up", new_user_registration_path,
        style: 'color: white;' %>
      </strong>
    </div>

  <% end %>

</div>
