<!-- If you link to this page on Facebook you can dynamically set what shows up -->
<%# content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<%# content_for :meta_description, @offer.description %>
<%# content_for :meta_image, cl_image_path(@offer.photo.path) %>

<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "Never worry about where to Katchup" %>
<% content_for :meta_description, "You want to go somewhere unique with your friends, reccommended by your friends" %>
<% content_for :meta_image, "KATCHUP_FAVICON.svg" %>

<div class="home">

  <i class="fas fa-map-marker-alt white-pin"></i>

  <div>
    <h1>katchup</h1>
  </div>

  <br>
  <br>

  <% if user_signed_in? %>

    <div class="small-white-button">
      <%= link_to "Get Saucy", feeds_path, class: "nav-link" %>
    </div>

  <% else %>

    <div class="small-white-button">
      <%= link_to "Login", new_user_session_path %>
    </div>

    <div style="color: white">
      Don't have an account?
      <strong>
        <%= link_to "Sign up", new_user_registration_path,
        style: 'color: white;' %>
      </strong>
    </div>

  <% end %>

</div>
