


<div class="container">

  <h6>
    <br>
    Add button active
    <br>
  <div class="add-button">
    <i class="fas fa-plus action-icon-active"></i>
  </div>

  <h6>
    <br>
    Add button
    <br>
  <div class="add-button">
    <i class="fas fa-plus action-icon"></i>
  </div>

  <h6>
    <br>
    Avatar
    <br>
  </h6>
  <img src="http://www.farnamstreetblog.com/wp-content/uploads/2014/03/cookiemonster.jpg"
  class="avatar">

  <h6>
    <br>
    Avatar Large
    <br>
  </h6>
  <img src="http://www.farnamstreetblog.com/wp-content/uploads/2014/03/cookiemonster.jpg"
  class="avatar-large">

    <h6>
      <br>
      Avatar Bordered
      <br>
    </h6>
  <div class="pt-3 pb-3"style="background-color: grey">
    <img src="http://www.farnamstreetblog.com/wp-content/uploads/2014/03/cookiemonster.jpg"
    class="avatar-bordered">

    <h6>
      <br>
      Avatar Square
      <br>
    </h6>
    <img src="http://www.farnamstreetblog.com/wp-content/uploads/2014/03/cookiemonster.jpg"
    class="avatar-square">

    <h6>
      <br>
      Small white button
      <br>
    </h6>
    <div class="small-white-button">
      Button
    </div>

  </div>

  <h6>
    <br>
    Dual Button
    <br>
  </h6>
  <div class="btn-group container" role="group">
    <a class="btn btn-basic">
      Button
    </a>
    <a class="btn btn-basic">
      Button
    </a>
  </div>

  <h6>
    <br>
    Dual Button one active
    <br>
  </h6>
  <div class="btn-group container" role="group">
    <a class="btn btn-basic dual-active">
      Button
    </a>
    <a class="btn btn-basic">
      Button
    </a>
  </div>

  <h6>
    <br>
    Simple button
    <br>
  </h6>
  <div class="simple-button-container">
    <div class="simple-button">
      Button
    </div>
  </div>

  <h6>
    <br>
    Active Simple button
    <br>
  </h6>
  <div class="simple-button-container">
    <div class="active-simple-button">
      Button
    </div>
  </div>

  <h6>
    <br>
    Red button
    <br>
  </h6>
  <div class="red-button">
    Button
  </div>

  <h6>
    <br>
    Small Red button
    <br>
  </h6>
  <div class="small-red-button">
    Button
  </div>

  <h6>
    <br>
    Red band button
    <br>
  </h6>
</div>
  <div class="red-band-button">
    Button
  </div>
<div class="container">

</div>


</div>
