.spot-banner-top-icons {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: space-between;
  left: 15px;
  right: 15px;
}

.show-banner-name {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-bottom: 0;
    padding-bottom: 10px;
    color: white;
    font-weight: normal;
  }
}

.spot-banner-bottom-icons {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  left: 60px;
  right: 60px;
}

.show-banner {
  border-radius: 0 0 32px 32px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.fa-star {
  margin: 0 4px;
  font-size: 16px;
  color: white;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

// .review-content {
//   align-items: center;
// }

// .container {
//   margin-bottom: 64px;

//   .card {
//     border-radius: 20px;

//     .review-image {
//       border-radius: 20px 20px 0 0;
//       height: 240px;
//       object-fit: cover;
//     }
//   }


.info {
  a {
    color: $dark-grey;
    text-decoration: none;
  }
}

.review-name {
  color: #999
}

.review-stars {
  i {
    color: black;
  }
}


#review-form-stars {
  i {
    color: black;
  }
}
