.spot-show-wrapper {
  .show-banner {
    border-radius: 0 0 32px 32px;
    height: 30vh;
    padding-top: 4rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;

    .show-banner-content {
      margin: auto;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      position: relative;

      h1 {
        margin-bottom: 0;
        padding-bottom: 4px;
        color: white;
      }
      p {
        padding: 8px;
        margin-bottom: 4px;
      }

    }
  }

  #show-underline {
    border-bottom: 4px solid white;
    bottom: 0px;
    width: 40%;
  }

  .card {
    background-color: inherit;
  }

  .fa-star {
    margin: 0 4px;
    font-size: 16px;
    color: white;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .review-content {
    align-items: center;
  }

  .container {
    .card {
      border-radius: 20px;
      .review-image {
        border-radius: 20px 20px 0 0;
      }
    }
  }

  .info {
    a {
      color: $dark-grey;
      text-decoration: none;
    }
  }
}
