
  <h1>Add a spot</h1>
  <%= form_tag(spots_path, method: :get) do %>
    <form class="form-inline" >
      <div class="md-form my-0 mr-3">
        <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Search"%>
      </div>
    </form>
  <% end %>

  <%= link_to spots_path do %>
    <h3>See all spots</h3>
  <% end %>

  <h4>Add to favourites</h4>
  <h4>Add to wishlist</h4>







