<div class="container">
  <% current_user.friends.each do |friend|%>
    <div class="p-4 m-2">
      <%= friend.first_name %>
      <%= friend.last_name %>
      <i class="fas fa-plus"></i>
    </div>
  <% end %>
</div>