
<!-- Guest Response Form (to get Guest Response Notice)  -->
<%= form_tag(catchups_path, method: :get, remote: true, id: 'guest-response-form') do %>
  <%= hidden_field_tag :guest_response_id %>
<% end %>
<!-- Guest Responses -->
<div id="guest-response-content"></div>


<% if @catchups.present? %>
  <% @catchups.each do |catchup| %>
    <%= render "catchup_summary_card", catchup: catchup, others: false%>
  <% end %>
<% end %>

<% if @catchups_accepted_invitations.present? %>
  <% @catchups_accepted_invitations.each do |catchup| %>
    <%= render "catchup_summary_card", catchup: catchup, others: true %>
  <% end %>
<% end %>
