<div>
  <h4>My Katchups</h4>
  <p>Katchups you have organised:</p>
</div>

<% if @catchups.present? %>
  <% @catchups.each do |catchup| %>
    <%= render "catchup-summary-card", catchup: catchup %>
  <% end %>
<% end %>
