<div class="card catchup-card">
  <div class="text-center">
    <div class="catchup-card-when">
      <h4><%= catchup.time.strftime("%A %-d %b %Y %l:%M%p") %></h3>
    </div>
    <div class="catchup-list-spot-image">
      <%= image_tag("#{catchup.spot.images.first.image}") %>
    </div>
    <div class="catchup-list-spot-name"><%= catchup.spot.name %></div>
  </div>
  <div class="row justify-content-around">
    <% catchup.guests.each do |guest| %>
      <div>
        <div class="catchup-card-guest">
          <%= cl_image_tag("#{guest.user.avatar}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
