
<!-- Search through my spots -->

<!-- List of my favourites and wishlists with symbols -->

<div class="container">

  <% 20.times do %>
    <div class="p-4 m-2">
      Spot
    </div>
  <% end %>

</div>
