<div class="text-center mt-3">
  <h3>Can't wait to KATCHUP!</h3>
  <div id="friend-missing-error" style="color:red;font-size:2rem;">Please select friends</div>
  <div id="spot-missing-error" style="color:red;font-size:2rem;">Please select spot</div>
  <div id="date-missing-error" style="color:red;font-size:2rem;">Please select date</div>
  <div id="time-missing-error" style="color:red;font-size:2rem;">Please select time</div>
</div>