<%= render "shared/navbar" %>

  <%= link_to new_catchup_path do %>
    <div class="red-band-button" style="padding-top: 70px">Create a Katchup</div>
  <% end %>

  <div class="container">
    <h1>My upcoming katchups:</h1>
  </div>

</div>


