.spot-card {
  position: relative;
  display: flex;
  width: 88%;
  height: 100px;
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0,0,0,.3);
  position: relative;

  img {
    width: 100px;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .spot-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-size: 0.75rem;
    .spot-name {
      font-weight: bold;
    }
  }

  .spot-card-icons {
    position: absolute;
    right: -20px;
  }

  .spot-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
