.sign-up-form {
  padding: 20px;
  margin: 30px;

  input {
    border-bottom: 2px solid $dark-grey;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: $light-grey;
  }
}

.sign-up-form-heading {
  color: $katchup;
  font-family: "Unbuntu", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  padding-bottom: 15px;
}

.hide-review-label {
  visibility: hidden;
}



.new_review label.file {
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 8px;

  color: $medium-grey;
  background-color: $light-grey;
  display: inline-block;

  p {
    font-size: 4rem;
    font-weight: 700;

    &.review-photo-text {
      font-size: 1.5rem;
    }
  }
}



#review_image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
