.fa-star {
  color: $katchup;
  font-size: 16px;
  letter-spacing: 5px;
}

.small-icon {
  margin: 5px;
  color: $medium-grey;
  font-size: 30px;
}

.active-small-icon {
  margin: 5px;
  color: $katchup;
  text-shadow: 0px 2px 5px rgba(0,0,0,.1);
  font-size: 30px;
}

.map-icon {
  margin-left: 10px;
  color: $medium-grey;
  font-size: 25px;
}
