i {
  font-size: 24px;
  margin: 0;
}

.fa-heart {
  color: white;
}

.fa-bookmark {
  color: white;
}

.fa-star {
  color: $katchup;
  font-size: 16px;
  letter-spacing: 5px;

.small-bookmark-icon {
  color: $dark-grey;
  font-size: 20px;
}

.small-heart-icon {
  color: $dark-grey;
  font-size: 20px;
}
