// BEEN THERE ICON
// <i class="material-icons">
// beenhere
// </i>

.red-arrow {
  color: $katchup;
  font-size: 25px;
  padding-right: 10px;
}

.white-arrow {
  color: white;
  font-size: 25px;
}

.white-icon {
  color: white;
}

.fa-star {
  color: $katchup;
  font-size: 16px;
  letter-spacing: 5px;
}

.action-icon {
  font-size: 15px;
  color: $medium-grey;
  border: 1px solid $medium-grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.action-icon-active {
  font-size: 15px;
  color: $katchup;
  border: 2px solid $katchup;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.map-icon {
  margin-left: 10px;
  color: $medium-grey;
  font-size: 25px;
}
