// card css spec
$map-available-display-width: 150px;
$map-restaurant-card-margin: 0rem;
$map-restaurant-card-border-radius: 1rem;
$map-restaurant-card-width: calc(#{$map-available-display-width} - 2 * #{$map-restaurant-card-margin});

$map-restaurant-card-shadow-x: 0;
$map-restaurant-card-shadow-y: 6px;
$map-restaurant-card-shadow-blur: 3px;
$map-restaurant-card-shadow-spread: -3px;

$map-restaurant-card-shadow-colour: gray;
$map-restaurant-card-background-colour: white;


// image css spec
$map-restaurant-image-height: 40px;
$map-restaurant-image-width: 50px;
$map-restaurant-image-left-border-radius: 1rem;

// details css spec
$map-restaurant-details-width: calc(#{$map-restaurant-card-width} - #{$map-restaurant-image-width});
$map-restaurant-details-left-padding: 0;

.mapboxgl-popup {
  max-width: $map-available-display-width;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  box-shadow: none;

  .map-restaurant-card {
    display: flex;
    width: $map-restaurant-card-width;
    border-radius: $map-restaurant-card-border-radius;
    margin: $map-restaurant-card-margin;
    box-shadow: $map-restaurant-card-shadow-x $map-restaurant-card-shadow-y $map-restaurant-card-shadow-blur $map-restaurant-card-shadow-spread $map-restaurant-card-shadow-colour;
    background-color: $map-restaurant-card-background-colour;

    .map-restaurant-image img {
      width: $map-restaurant-image-width;
      height: $map-restaurant-image-height;
      object-fit: cover;
      border-top-left-radius: $map-restaurant-image-left-border-radius;
      border-bottom-left-radius: $map-restaurant-image-left-border-radius;
    }

    .map-restaurant-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: $map-restaurant-details-left-padding;
      width: $map-restaurant-details-width;

      .map-restaurant-name {
        font-weight: bold;
      }

      .map-restaurant-location {
        font-size: 0.75rem;
      }

      .map-restaurant-description {
        font-size: 0.75rem;
      }

    }
  }
}

.map-marker {
  // color: #C70039;
  background-image: image-url('circle.png');
  background-size: cover;
  background-position: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.map-marker-favourite {
  background-image: image-url('heart.png');
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.map-marker-wishlist {
  background-image: image-url('bookmark.png');
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.map-marker-user {
  background-image: image-url('geek.jpg');
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.map-geolocation {
  visibility: hidden;
}
