.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  box-shadow: none;

  .map-restaurant-card {
    display: flex;
    width: 200px;
    border-radius: 1rem;
    margin: 0rem;
    box-shadow: 0 6px 3px -3px gray;
    background-color: white;

    .map-restaurant-image img {
      width: 50px;
      height: 40px;
      object-fit: cover;
      border-top-left-radius: 1rem;
    }

    .map-restaurant-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
      width: 100px;

      .map-restaurant-name {
        font-weight: bold;
      }

      .map-restaurant-location {
        font-size: 0.75rem;
      }

      .map-restaurant-description {
        font-size: 0.75rem;
      }

    }
  }
}

.map-marker {
  background-image: image-url('circle.png');
  background-size: cover;
  background-position: center;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.map-marker-spot {
  background-image: image-url('wine-bottle-solid.svg');
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.map-marker-wishlist {
  background-image: image-url('wine-bottle-solid.svg');
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.map-marker-user {
  background-image: image-url('geek.jpg');
  background-size: cover;
  background-position: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  background-color: $katchup-half;
}

.map-geolocation {
  visibility: hidden;
}

.map-back-button {
  a {
    position: absolute;
    bottom: -0.2rem;
    right: 0.2rem;
    font-size: 1.75rem;
    color: $dark-grey;
  }
}
