// Main Navbar

.navbar {
  background: $dark-grey;
  box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  .navbar-collapse {
    flex-grow: 0;
  }
}

.navbar-brand {
  font-weight: bold;
  align-self: center;
  padding: 0;
  p {
    color: white;
    font-size: 25px;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
  }
}

.navbar-icon {
  color: white;
  font-size: 25px;
}

.navbar-dropdown {
  color: white;
  background-color: $dark-grey;
}

.nav-active {
  color: $katchup;
}
