.top-navbar {
  justify-content: space-between;
  background: $dark-grey;

  .navbar-collapse {
    flex-grow: 0;
  }
}

.navbar-brand {
  font-style: "Century Gothic";
  font-weight: bold;
  align-self: center;
  p {
    color: white;
    font-size: 20px;
    margin: 0;
  }
}

.menu-bars {
  color: white;
}

.navbar-toggler {
  border: none;
}

.bottom-navbar {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  a {
    color: $medium-grey;
    font-size: 25px;
  }
}

.nav-active {
  color: $green;
}
