.sidenav a {
  font-size: 18px !important;
  text-align: bottom !important;
  color: white !important;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: $dark-grey; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: $dark-grey;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: $katchup;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




// Main Navbar

.navbar {
  background: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,.5);
  .navbar-collapse {
    flex-grow: 0;
  }
}

.navbar-brand {
  font-weight: bold;
  align-self: center;
  padding: 0;
  margin: 0;
  p {
    font-size: 25px;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    background: -webkit-linear-gradient($katchup-pink, $katchup);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.navbar-icon {
  color: $medium-grey;
  font-size: 25px;
  margin: 0;
}

