.restaurant-card {
  width: 375px;
  border-rounded: 0.25rem;
  margin: 1rem;
  box-shadow: 0 4px 2px -2px gray;

  .restaurant-name {}

  .restaurant-location {}

  .restaurant-description {}

  .restaurant-image {}
}
