.hidden {
  display: none;
}

#search-page {
  animation-duration: .5s;
}

#search-back-button {
  animation-duration: .5s;
}

#feed-page {
  animation-duration: .5s;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: center;

  .grow {
    flex-grow: 1;
  }

  form {
    flex-grow: 2;
  }
}

.search-field {
  background-color: #f1f3f4;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: lighter;
  position: relative;

  input::placeholder {
    color: $medium-grey;
    padding-left: 7px;
  }

  .search-text {
    background: none;
    border: none;
    width: 90%
  }

  .search-icon {
    color: $medium-grey;
    font-size: 16px;
  }
}

.red-arrow {
  color: $katchup;
  font-size: 25px;
  padding-right: 10px;
}
