.hidden {
  display: none !important;
}

#search-page {
  animation-duration: .5s;
}

#search-exit {
  animation-duration: .5s;
}

#feed-page {
  animation-duration: .5s;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: center;

  .grow {
    flex-grow: 1;
  }

  form {
    flex-grow: 2;
  }
}

.search-field {
  background-color: #f1f3f4;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: lighter;
  height: 30px;
  position: relative;

  input::placeholder {
    color: $medium-grey;
    position: absolute;
    left: 35px
  }

  input:focus {
    outline:none;
  }

  .search-text {
    background: none;
    border: none;
    width: 80%;
    outline:none;
    position: absolute;
    left: 35px
  }

  .search-icon {
    color: $medium-grey;
    font-size: 18px;
    position: absolute;
    left: 8px;
  }

  .exit {
    color: $katchup;
    font-size: 18px;
    position: absolute;
    right: 10px;
  }
}
