// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/style_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "spots/index";
@import "lists/index";
@import "users/index";
@import "friendships/index";

// Mapbox (css doesn't work from javascript pack so was placed here)
@import 'mapbox-gl/dist/mapbox-gl.css';

h1 {
  color: $dark-grey;
  font-size: 20px;
  font-family: "Century Gothic";
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: bold;
}
