// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/style_variables";

// External libraries
@import "bootstrap/scss/bootstrap";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "spots/index";
@import "lists/index";
@import "users/index";
@import "friendships/index";

html, body {
  height: 100%; // Allow for full height layout.
}

.wrapper {
  padding-top: 70px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: $dark-grey;
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
}
