<div class="container">

  <div>
    <h2>Your friends are loving</h2>
  </div>

  <div>
    <h2>Cuisine</h2>
  </div>

  <div>
    <h2>Trending in Melbourne</h2>
  </div>

  <div>
    <h2>Everyone wants to try</h2>
  </div>

  <div>
    <h2>Nearby</h2>
  </div>

</div>
