<%= render "shared/navbar" %>
  <h1>Discover</h1>

  <!-- Search bar -->

  <div class="grey-search-bar">
      <%= form_tag(lists_path, method: :get, remote: true) do %>
        <form class="form-inline search-bar" >
          <div>
            <%= text_field_tag :search, params[:search], class: "search-bar",
            placeholder: "Search"%>
          </div>
        </form>
      <% end %>
  </div>

  <div id="spots-discover" class="spots-discover">
    <% @spots.each do |spot| %>
      <%= render'search_result', spot: spot %>
    <% end %>
  </div>
</div>
