<%= render "shared/navbar" %>
<div class="container">
  <h1>Discover</h1>
  <br>








  <div id="spots-discover" class="spots-discover">
    <% @spots.each do |spot| %>
      <%= render('search_result', spot:spot) %>
    <% end %>
  </div>
</div>
