<div class="discover-container container">
  <div>
    <div class="discover-heading container">
      <h4>Your friends are loving</h4>
    </div>
    <div class="discover-horizontal">
      <div class="discover-card">
        <%= cl_image_tag(@spots.first.images.first.image, class: "discover-card-image", crop: "fill") %>
        <div class="card-content">
          <p class="mt-1"><%= @spots.first.name %></p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="discover-heading container">
      <h4>Cuisine</h4>
    </div>
    <div class="discover-horizontal">
    </div>
  </div>

  <div>
    <div class="discover-heading container">
      <h4>Trending in Melbourne</h4>
    </div>
    <div class="discover-horizontal">
    </div>
  </div>

  <div>
    <div class="discover-heading container">
      <h4>Everyone wants to try</h4>
    </div>
    <div class="discover-horizontal">
    </div>
  </div>

  <div>
    <div class="discover-heading container">
      <h4>Nearby</h4>
    </div>
    <div class="discover-horizontal">
    </div>
  </div>
</div>
