<%= render "shared/navbar" %>
<%= render "lists/list_type" %>
<!-- Search bar -->
<div class="grey-search-bar">
  <%= render('search/search_form', search_type: 'wishlist_spots', placeholder: 'Search in my bottle') %>
</div>

<!-- Cards -->

<div class="container">
  <div id="search-results" class="discover-search-results">
    <% @wishlist_spots.each do |spot| %>
      <%= render "spots/spot_card", spot: spot %>
    <% end %>
  </div>
</div>
