<%= render "shared/lists_navbar" %>


<div class="container">

  <h1>Wishlist</h1>


  <% @wishlist.each do |wishlist| %>

    <div class="restaurant-card">

      <!-- Image -->

      <div class=restaurant-image>
        <%= image_tag("#{wishlist.spot.image}")%>
      </div>

      <!-- Text -->

      <div class="restaurant-details">

        <div class="restaurant-name">
          <%= wishlist.spot.name %>
        </div>

        <div class=restaurant-location>
          <%#= spot.location[0..20] %>
        </div>

        <div class=restaurant-description>
          <%= "#{wishlist.spot.description[0..20]}..." %>
        </div>
      </div>

    </div>

  <% end %>



</div>
