<div class="card m-3 shadow-sm">
  <% unless review.image_url.blank? %>
    <%= cl_image_tag(review.image_url, class: "review-image") %>
  <% end %>
  <div class="review-content d-flex ">
    <div class="review-user">
      <%= cl_image_tag(user_avatar(review.user), class: "avatar mx-3 mt-3") %>
      <p class="review-name mx-3 mt-2"><%= review.user.first_name %></p>
    </div>
    <div class="d-flex flex-column">
      <div class="m-2"><%= review.notes %></div>
      <div class="m-2 review-stars">
        <% full_stars = review.rating.nil? ? 0 : review.rating %>
        <% full_stars.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5-full_stars).times do %>
          <i class="far fa-star"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
