.user-wrapper {
  padding-top: 64px;
  text-align: center;
}

.to_spot {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.place {
  border-radius: 0 0 8px 8px;
  border: 4px;
  border-color: #333;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  &:hover {
    box-shadow: 4px 4px 8px #ddd;
  }
}

.review-tag {
  background-color: $katchup;
  color: white;
  font-weight: bold;
}

.review-image {
  border-radius: 20px 20px 0 0;
  height: 240px;
  object-fit: cover;
}

