.friends-wrapper {
  padding-top: 48px;

  .card {
    position: relative;
    border-radius: 8px;
  }
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .avatar {
    background-color: rgba(199, 0, 57, 0.1);
    width: 56px;
    height: 56px;
  }
}

.friend-row {
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}
